//-------------------------------------------------------------------------
//雪球网
.icon-xueqiu {
  background: url('../assets/geoImage/platformIcon/xueqiu.png') no-repeat;
  background-size: cover;
}

// 百家号
.icon-baijia {
  background: url('../assets/geoImage/platformIcon/baijia.png') no-repeat;
  background-size: cover;
}

// 头条号
.icon-toutiao {
  background: url('../assets/geoImage/platformIcon/jinritoutiao.png') no-repeat;
  background-size: cover;
}

//凯迪网
.icon-kaidi {
  background: url('../assets/geoImage/platformIcon/kaidi.png') no-repeat;
  background-size: cover;
}

//什么值得买
.icon-shenmezhidemai {
  background: url('../assets/geoImage/platformIcon/shenmezhidemai.png') no-repeat;
  background-size: cover;
}

//搜狐
.icon-souhu {
  background: url('../assets/geoImage/platformIcon/souhu.png') no-repeat;
  background-size: cover;
}

//淘江湖
.icon-taojianghu {
  background: url('../assets/geoImage/platformIcon/taojianghu.png') no-repeat;
  background-size: cover;
}

//网易
.icon-wangyi {
  background: url('../assets/geoImage/platformIcon/wangyi.png') no-repeat;
  background-size: cover;
}

//抖音
.icon-douyin {
  background: url('../assets/geoImage/platformIcon/douyin.png') no-repeat;
  background-size: cover;
}

//哔哩哔哩
.icon-bilibili {
  background: url('../assets/geoImage/platformIcon/bilibili.png') no-repeat;
  background-size: cover;
}

//公众号
.icon-gongzhonghao {
  background: url('../assets/geoImage/platformIcon/gongzhonghao.png') no-repeat;
  background-size: cover;
}

//小红书
.icon-xiaohongshu {
  background: url('../assets/geoImage/platformIcon/xiaohongshu.png') no-repeat;
  background-size: cover;
}

//知乎
.icon-zhihu {
  background: url('../assets/geoImage/platformIcon/zhihu.png') no-repeat;
  background-size: cover;
}

//视频号
.icon-shipinhao {
  background: url('../assets/geoImage/platformIcon/shipinhao.png') no-repeat;
  background-size: cover;
}

//快手
.icon-kuaishou {
  background: url('../assets/geoImage/platformIcon/kuaishou.png') no-repeat;
  background-size: cover;
}

//微博
.icon-weibo {
  background: url('../assets/geoImage/platformIcon/weibo.png') no-repeat;
  background-size: cover;
}

// 全部
.icon-all {
  background: url('../assets/geoImage/platformIcon/all.png') no-repeat;
  background-size: cover;
}

//-------------------------------------------------------------------------

/**
  热门平台icon
 */

.icon-qwen {
  background: url('../assets/geoImage/popular_platform/qwen.png') no-repeat;
  background-size: cover;
}

.icon-kimi {
  background: url('../assets/geoImage/popular_platform/kimi.png') no-repeat;
  background-size: cover;
}

.icon-hunyuan {
  background: url('../assets/geoImage/popular_platform/hunyuan.png') no-repeat;
  background-size: cover;
}

.icon-doubao {
  background: url('../assets/geoImage/popular_platform/doubao.png') no-repeat;
  background-size: cover;
}

.icon-DeepSeek {
  background: url('../assets/geoImage/popular_platform/deepseek.png') no-repeat;
  background-size: cover;
}

.icon-wxyy {
  background: url('../assets/geoImage/popular_platform/yiyan.png') no-repeat;
  background-size: cover;
}

//-------------------------------------------------------------------------
/**
  笔记题材
 */
//测评类
.icon-ceping {
  background: url('../assets/geoImage/noteTypeList/img_1.png') no-repeat;
  background-size: cover;
}

//合集类
.icon-heji {
  background: url('../assets/geoImage/noteTypeList/img_2.png') no-repeat;
  background-size: cover;
}

//Vlog类
.icon-vlog {
  background: url('../assets/geoImage/noteTypeList/img_3.png') no-repeat;
  background-size: cover;
}

//沉浸式
.icon-chenjing {
  background: url('../assets/geoImage/noteTypeList/img_4.png') no-repeat;
  background-size: cover;
}

//教程类
.icon-jiaocheng {
  background: url('../assets/geoImage/noteTypeList/img_5.png') no-repeat;
  background-size: cover;
}

//开箱类
.icon-kaixiang {
  background: url('../assets/geoImage/noteTypeList/img_6.png') no-repeat;
  background-size: cover;
}

//探店类
.icon-tandian {
  background: url('../assets/geoImage/noteTypeList/img_7.png') no-repeat;
  background-size: cover;
}

//互动型
.icon-huodong {
  background: url('../assets/geoImage/noteTypeList/img_8.png') no-repeat;
  background-size: cover;
}
