@use './fonts.scss';
@use './var.css';
@use './FormCreate/index.scss';
@use './theme.scss';
@use 'element-plus/theme-chalk/dark/css-vars.css';
@use 'globalIcon.scss';

.reset-margin [class*='el-icon'] + span {
  margin-left: 2px !important;
}

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

// 解决表格内容超过表格总宽度后，横向滚动条前端顶不到表格边缘的问题
.el-scrollbar__bar {
  display: flex;
  justify-content: flex-start;
}

/* nprogress 适配 element-plus 的主题色 */
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }

  & .peg {
    box-shadow: 0 0 10px var(--el-color-primary),
    0 0 5px var(--el-color-primary) !important;
  }

  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}

//自定义弹窗样式 padding设置为0
.el-dialog.custom_dialog {
  --el-dialog-padding-primary: 0px;

  &::-webkit-scrollbar{
    width: 0;
  }
}

//el-tooltip样式调整
.el-popper {
  padding: 0;
}
// el-tooltip样式popper-class
.popper-rounded12{
  border-radius: 12px;
}
.popper-rounded8{
  border-radius: 8px;
}
// 关键词库 第一层面样式⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇
.before_word .el-input-tag {
  --el-input-tag-padding: 4px;
  --el-fill-color-blank: #F2F3F5;
}

.before_word .el-tag {
  --el-tag-bg-color: #FFFFFF;
  --el-tag-text-color: #1D2129;
}

.after_word .el-input-tag {
  --el-input-tag-padding: 4px;
  --el-fill-color-blank: #F2F3F5;
}

.after_word .el-tag {
  --el-tag-bg-color: #FFFFFF;
  --el-tag-text-color: #1D2129;
}

// 关键词库 第一层面样式⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆

.before_word2 .el-input-tag {
  --el-input-tag-mini-height: 216px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #E5E6EB;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}
.before_word2 .el-input-tag.is-focused {
  box-shadow: none;
}
.before_word2 .el-input-tag.is-hovering:not(.is-focused) {
  box-shadow: none;
}
